*{
    margin: 0;
    font-size: 100%;
}
.header{
    margin:16px;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 1px 0 #ccc;
}
.box{
    margin: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 2px #ccc;
    border-radius: 4px;
}
.grandparent{
    /* padding: 50px; */
    border: 1px solid #ccc;
   /* margin:20px; */
   font-size: 20px;
}
.parent{
    /* margin: 50%; */
    /* padding :50%; */
    border: 1px solid #ccc;
    /* width: 50%; */
    font-size: 200%;
}
.new section p{
    color: aqua;
    margin: 10%;
    font-size: 200%;
}